	* {

    box-sizing: border-box;
  
  }

  img , picture{
    max-width: 100%;
    width: 100%;
    display: block;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
		font-family: var(--primary-font);
  }
  
  ::selection {
    background-color: var(--white-color);
    color: var(--black-color);
  }

  body {
    min-height      : 100vh;
    font-size       : 100%;
    font-family     : var(--primary-font);
    color           : var(--black-color);
		background-color: var(--primary-color);
		font-weight:400;

  }