#Ignorar node_modules de todas las carpetas y subcarpetas#
**/node_modules
/tatyc
**/package-lock.json
/build
.env


#Archivos a ignorar del sistema operativo#
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/ehthumbs.db
**/Thumbs.db

# Archivos compilados de ejecución #
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.so

# Paquetes, archivos comprimidos #
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip

# Logs y bases de datos #
**/*.log
**/*.sql
**/*.sqlite